.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2{data_group_id: "####", class: "main-header__left-box__current-group"}
          group_name
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member
            member_name
      = link_to "/groups/####/edit" do
        .main-header__edit-btn
          Edit
    .messages
      = render "message"
    .form
      %form{class: "new_message", id: "new_message", action: "/groups/####/messages", method: 'post'}
        .input-box
          %input.input-box__text{placeholder: "type a message", type: "text"}
          %label.input-box__image{for: "message_image"}
            = fa_icon "image"
            %input.input-box__image__file{type: "file", id: "message_image"}
        %input.submit-btn{value: "Send", type: "submit"}