@import "config/reset";
@import "font-awesome";
@import "config/colors";
@import "modules/user";
@import "modules/flash";
@import "modules/group";

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.body {
  width: 100vw;
}

a {
  text-decoration: none;
}

.chat-side {
  width: 300px;
  color: $white;
  float: left;
  & a {
    color: $white;
  }
  .side-header {
    background-color: $side-head;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;

    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__user-name{
        font-size: 16px;
        font-weight: bold;
      }
      &__menu {
        display: flex;
        & li {
          margin-left: 0.3rem;
        }
      }
    }
  }
  .groups {
    background-color: $side-main;
    height: calc(100vh - 100px);
    overflow: scroll;
    padding: 20px 20px 0;
    .group {
      margin-bottom: 40px;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $border-white;
    height: 100px;
    padding: 0 40px;
    &__left-box {
      padding-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333333;
        padding-bottom: 15px;
        margin-bottom: 0;
      }
      &__member-list {
        display: flex;
        font-size: 12px;
        color: $gray-text;
        li + li {
          margin-left: 0.3rem;
        }
      }
    }
    &__edit-btn {
      color: $btn-color;
      border: 1px solid $btn-color;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
    }
  }
  .messages {
    background-color: #fafafa;
    padding: 46px 40px 0;
    height: calc(100vh - 190px);
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__talker {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $gray-text;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

  }
  .form {
    padding: 20px 40px;
    height: 90px;
    background-color: #DDDDDD;
    .new_message{
      display: flex;
      .input-box {
        position: relative;
        width: 100%;
        &__message {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $btn-color;
        color: $white;
        cursor: pointer;
      }
    }
  }
}